<%= form_with(url: "/calculo", method: "get", remote: true) do %>
<h2> Enter the temperature in C°: </h2>
<input id="temperatra" name="temperature">
<h2> Winds speed (km/h): </h2>
<input id="wind_speed" name="wind_speed">

<button type="submit" id="calculo"> Calcular </button>

<div id="res"></div>

<% end %>
