/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

 body {
  background-image: url("https://images.unsplash.com/photo-1545375359-366c37031751?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
 }

 h1, h4 {
   padding-left: 3%;
 }
 .boder {
   background-color: white;
   margin-top: 25%;
 }
 h1{
  padding-top: 2%;
 }
 h4 {
  padding-bottom: 4%;
 }
 .form-group {
  padding-left: 3%; 
 }

 button {
  margin: 10px;
 }

 #res {
   color: seagreen;
   margin-top: 5%;
   font-size: 20px;
 }